.btn-logout{
    width: 100px;
    height: 30px;
    margin-left: 1050px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
.btn-logout-text{
    margin-top: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
    text-transform: uppercase;
}